$secondary-color: #000000;
$blue-color: #2196f3;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  background-color: rgb(243, 243, 243);
}

ul {
  list-style-type: none;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.color--secondary {
  background: $secondary-color;
}

.color--blue {
  background: $blue-color;
}

.float-right {
  float: right;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-color--white {
  color: white;
}

.video-fit {
  width: 100%;
  object-fit: fill;
}

.padding-box {
  //max-width: 1268px;
  margin: auto;

  @media (max-width: 1268px) {
    padding-left: 44px;
    padding-right: 44px;
  }

  @media (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//header-menu
header {
  margin: auto;
  max-width: 1180px;
  height: 90px;

  .navigation {}

  .logo {
    width: 50px;
    height: 50px;

    background: white;
    border-radius: 50%;

    //transform: rotate(-45deg);
    font-size: 34px;
    font-family: "NeoTech";
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transform: rotate(-30deg);
  }

  .logo::after {
    content: "GUI";
    display: block;
    transform: translate(-8px);
  }

  .menu {
    width: 630px;

    @media (max-width: 850px) {
      width: auto;
    }

    @media (max-width: 500px) {
      margin-left: 14px;
    }

    .home {
      @media (max-width: 850px) {
        display: none;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;

      height: 90px;
      width: 120px;

      @media (max-width: 660px) {
        width: 90px;
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    &__item:hover {
      border-bottom: 4px solid rgb(33, 150, 243);
    }

    &__item:hover a {
      color: white;
      //font-weight: bold;
    }


    &__link {
      color: rgba(255, 254, 254, 0.541);
      text-align: center;
      font-size: 14px;
      line-height: 90px;
    }

    #articles {
      position: relative;
      border-bottom: 4px solid white;

      a {
        color: white;
      }
    }

    //drop-down
    #drop-down a {
      color: rgba(0, 0, 0, 0.541);
    }

    #drop-down {
      //opacity: 0.5;
      display: none;
      position: absolute;
      top: 21px;
      border-radius: 2px;
      background-color: rgb(250, 250, 250);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
      width: 138px;
      height: 176px;
      //padding: 15px 18px 15px 35px;
      z-index: 1;

      li {
        padding-left: 26px;
      }

    }

    .sub-menu {
      // flex-direction: column;
      // justify-content: space-around;

      .menu__video {
        height: 54px;

        a {
          line-height: 50px;
        }
      }

      &__el {
        height: 32px;

        a {
          line-height: 32px;
        }
      }

      &__el:hover {
        background: #eeeeee;
      }

      a {
        // position: relative;
        // left: 15px;
      }


    }

    .video-tryangle {
      font-size: 10px;
      padding-right: 23px;
      float: right;
    }



    #videos:active #drop-down,
    #videos:focus #drop-down,
    #drop-down:hover {
      display: block;
    }

  }


  // search
  .sign {
    width: 180px;

    p {
      display: block;
      height: 90px;
      color: white;

      @media (max-width: 600px) {
        visibility: hidden;
      }
    }

    a {
      color: white;
      font-size: 14px;
      line-height: 90px;
    }

    a:hover {
      color: #9f9f9f;
    }



    svg {
      cursor: pointer;
    }

    svg:active~#loupa,
    svg:focus~#loupa,
    #loupa:hover {
      display: block;
      position: absolute;
    }



  }

  .form-search {
    display: flex;
    align-items: center;

    background: #000000;
    height: 48px;

    #loupa {
      display: none;
    }

    #loupa:checked~#search {
      display: inline;
    }

    label {
      height: 18px;
      cursor: pointer;
    }

    #search {
      display: none;

      background: #000000;
      border: none;
      color: #eeeeee;
    }
  }


  //!!! burger-menu
  #burger-menu {
    display: none;
    position: relative;
    margin-right: 24px;

    @media (max-width: 600px) {
      display: block;
    }

    #label-for-burger-checkbox {
      display: flex;
      align-items: center;
      position: relative;
      top: 0px;

      width: 30px;
      height: 24px;

      cursor: pointer;
      z-index: 2;

      span,
      span::before,
      span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 4px;
        background: #eeeeee;
        transition-duration: .3s;
      }

      span::before {
        content: "";
        top: -10px;
      }

      span::after {
        content: "";
        top: 10px;
      }
    }



    #burger-checkbox {
      display: none;


      &:checked~#label-for-burger-checkbox>span {
        background: #9f9f9f;
        transform: rotate(45deg) scale(0.6);
      }

      &:checked~#label-for-burger-checkbox>span::before {
        background: #9f9f9f;
        //transform: scale(0.8);
        top: 0;
      }

      &:checked~#label-for-burger-checkbox>span::after {
        background: #9f9f9f;
        top: 0;
        transform: rotate(90deg);
      }

      &:checked~.burger-nav {
        display: block;
      }

    }

    .burger-nav {
      display: none;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 10px;
        position: absolute;
        top: 0;
        right: calc(100% - 30px);
        /* left: -100%; */
        width: 112px;
        height: 208px;

        border-radius: 2px;
        background-color: #fafafa;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
        z-index: 1;

        a {
          color: #9f9f9f;
        }

        a:hover {
          color: #2196f3;
        }
      }
    }
  }
}


main {

  .size-of-article {
    display: grid;
    grid-template-columns: minmax(300px, 780px);
    grid-row-gap: 40px;

    padding: 40px 0 90px 100px;
    margin: auto;
    max-width: 1180px;

    @media (max-width: 1024px) {
      padding-left: 0;
      justify-content: center;
    }

    @media (max-width: 768px) {
      padding-bottom: 40px;
    }

    @media (max-width: 500px) {
      padding-bottom: 10px;
    }
  }

  .container {
    padding-top: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
    //width: 780px;
    //height: 775px;
    font-family: 'Roboto', sans-serif;

    figure {
      //height: 63px;
      display: flex;
      align-items: center;
      margin: 0 0 15px 30px;

      img {
        //width: 100%;
      }

      figcaption {
        margin-left: 16px;


        font-size: 16px;
        color: #4d4d4d;
      }

      .time-of-article {
        font-size: 14px;
        color: rgb(153, 153, 153);
      }
    }

    &__img {
      width: 100%;
    }

    &__description {
      margin-right: 30px;
      margin-left: 30px;

      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 29px 0;
      }

      p {
        font-size: 18px;
        font-family: "Helvetica Neue";

      }
    }

    .link-button {
      display: block;
      margin: 40px 0 50px;

      width: 112px;
      height: 36px;
      border-radius: 2px;
      background-color: rgb(33, 150, 243);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);

      font: 14px 'Roboto';
      color: white;
      text-align: center;
      line-height: 36px;
      text-decoration: none;
    }

    .link-button:hover {
      background-color: rgb(6, 122, 215);
    }


  }


  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 94px auto 0;
    height: 96px;
    max-width: 1180px;
    line-height: 96px;
    color: white;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 500;

    .arrow {
      position: relative;
      top: 6px;
      width: 12px;
      border-top: solid white 2px;
    }

    a:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }

    .arrow--left {
      margin-right: 14px;
    }

    .arrow--left::before {
      content: "";
      display: block;
      position: relative;
      bottom: 7px;

      width: 10px;
      height: 10px;
      border-top: solid white 2px;
      border-left: solid white 2px;
      transform: rotate(-45deg);
    }

    .arrow--right {
      margin-left: 14px;
    }

    .arrow--right::before {
      content: "";
      display: block;
      position: relative;
      bottom: 7px;

      width: 10px;
      height: 10px;
      border-top: solid white 2px;
      border-left: solid white 2px;
      transform: rotate(135deg);
    }
  }



}

footer {
  background: white;
}

.footer {
  max-width: 1180px;
  height: 90px;
  margin: auto;

  font-size: 14px;
  color: #999999;


  @media (max-width: 600px) {
    justify-content: center;
  }


  &-navigation {
    width: 290px;


    @media(max-width: 600px) {
      display: none;
    }

    a {
      font-size: 14px;
      color: #999999;
    }

    li:hover a {
      font-weight: 500;
    }
  }

}